body {
  font-family: Arial;
  background-image: url("https://www.saga.co.uk/contentlibrary/saga/publishing/verticals/technology/apps/shutterstock_240459751.jpg");
  background-repeat: repeat;
  background-size: 1000px ;
  height: 1000px;
}

h1 {
  color: #16020200;
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
}

h2 {
  color: black;
  font-size: 25px;
}

ul {
  margin: 0 0 10px;
  padding: 10px 15px;
}

li {
  color: black;
  font-size: 20px;
  font-family: arial;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.description {
  color: black;
  font-size: 64px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.weather-app {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}

.icon class="fa-duotone-fa-clouds-moon" {color:blue;
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.icon class="fas-fa-cloud" {color:blue; 
  height: 64px;
  width: 64px;
  margin: 0 auto;
} 

.temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 2;
  text-decoration: none;
}

.units {
  position: relative;
  top: -34px;
  width: medium;
  line-height: 2;
}

.icon {font-size: 14 px; text-align: right; }

.search-form {
  color:blue
  font-size: 20px;
  margin-bottom: 60px;
}

.current-location-button {
  color:blue;
  font-size: 20px;
  margin-bottom: 50px;
  width: 10px;
}

.date {
  color: black;
}

.city {
  color: black;
  font-size: 20px;
  font-family: Calibri;
}

.city-input {
  color: black;
  font-size: 20px;
  font-family: Calibri;
}

button {width: 50px; background-color: transparent; color:black}
button:hover { color:skyblue; }

.displayweathercondition { color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
}

.displaycelciusTemperature { color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  text-decoration: none; }

  .displayFahrenheitTemperature { color: rgb(33, 33, 33);
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
  }

.fahrenheit-link .active:hover{ color:black; text-decoration:none;}
.celcius-link.active:hover { color:black; text-decoration:none;}

svg {width: 300px; height: 300px; margin: 0 Auto; text-align:center;}


.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.FButtonhandlesubmit {color: black;}